<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Riot todo</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="stylesheet" th:href="@{/css/todo.css}" href="../static/css/todo.css" />

		<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.5/es5-shim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script>html5.addElements('todo')</script>
		<![endif]-->
	</head>
	<body>
		<th:block th:utext="${todoTag}"></th:block>
		<script th:src="@{/js/riot.js}" src="../static/js/riot.js"></script>
		<script th:src="@{/js/todo.js}" src="../static/js/todo.js"></script>
		<script th:inline="javascript">
			riot.mount('todo', {
				title: /*[[${title}]]*/ 'I want to behave!',
				items: /*[[${todos}]]*/ []
			})
		</script>
	</body>
</html>
